Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Authorization, Content-Type, Origin, Accept"
Header set Access-Control-Allow-Credentials "true"

